:root {
  --color-primary-0: hsl(0, 0%, 0%);
  --color-primary-10: hsl(217, 72%, 13%);
  --color-primary-20: hsl(219, 42%, 22%);
  --color-primary-30: hsl(220, 30%, 31%);
  --color-primary-40: hsl(221, 23%, 40%);
  --color-primary-50: hsl(222, 19%, 50%);
  --color-primary-60: hsl(221, 25%, 61%);
  --color-primary-70: hsl(222, 35%, 71%);
  --color-primary-80: hsl(223, 58%, 82%);
  --color-primary-87: hsl(223, 100%, 90%);
  --color-primary-90: hsl(225, 100%, 92%);
  --color-primary-92: hsl(225, 100%, 94%);
  --color-primary-94: hsl(229, 100%, 96%);
  --color-primary-95: hsl(230, 100%, 96%);
  --color-primary-96: hsl(231, 100%, 97%);
  --color-primary-98: hsl(240, 100%, 99%);
  --color-primary-99: hsl(285, 100%, 99%);
  --color-primary-100: hsl(0, 0%, 100%);
  --color-secondary-0: hsl(0, 0%, 0%);
  --color-secondary-10: hsl(220, 15%, 12%);
  --color-secondary-20: hsl(222, 10%, 20%);
  --color-secondary-30: hsl(222, 7%, 29%);
  --color-secondary-40: hsl(224, 6%, 38%);
  --color-secondary-50: hsl(224, 5%, 48%);
  --color-secondary-60: hsl(229, 5%, 58%);
  --color-secondary-70: hsl(229, 7%, 68%);
  --color-secondary-80: hsl(229, 10%, 79%);
  --color-secondary-87: hsl(229, 16%, 87%);
  --color-secondary-90: hsl(229, 22%, 90%);
  --color-secondary-92: hsl(229, 28%, 92%);
  --color-secondary-94: hsl(235, 41%, 95%);
  --color-secondary-95: hsl(235, 52%, 96%);
  --color-secondary-96: hsl(234, 63%, 97%);
  --color-secondary-98: hsl(240, 100%, 99%);
  --color-secondary-99: hsl(270, 100%, 99%);
  --color-secondary-100: hsl(0, 0%, 100%);
  --color-tertiary-0: hsl(0, 0%, 0%);
  --color-tertiary-10: hsl(35, 100%, 8%);
  --color-tertiary-20: hsl(38, 100%, 13%);
  --color-tertiary-30: hsl(39, 100%, 19%);
  --color-tertiary-40: hsl(40, 100%, 25%);
  --color-tertiary-50: hsl(40, 100%, 32%);
  --color-tertiary-60: hsl(41, 100%, 38%);
  --color-tertiary-70: hsl(39, 78%, 50%);
  --color-tertiary-80: hsl(37, 100%, 64%);
  --color-tertiary-87: hsl(35, 100%, 79%);
  --color-tertiary-90: hsl(34, 100%, 85%);
  --color-tertiary-92: hsl(33, 100%, 88%);
  --color-tertiary-94: hsl(33, 100%, 91%);
  --color-tertiary-95: hsl(32, 100%, 93%);
  --color-tertiary-96: hsl(30, 100%, 95%);
  --color-tertiary-98: hsl(25, 100%, 98%);
  --color-tertiary-99: hsl(300, 100%, 99%);
  --color-tertiary-100: hsl(0, 0%, 100%);
  --color-neutral-0: hsl(0, 0%, 0%);
  --color-neutral-10: hsl(210, 14%, 11%);
  --color-neutral-20: hsl(210, 8%, 19%);
  --color-neutral-30: hsl(210, 6%, 28%);
  --color-neutral-40: hsl(210, 4%, 37%);
  --color-neutral-50: hsl(218, 3%, 47%);
  --color-neutral-60: hsl(213, 4%, 57%);
  --color-neutral-70: hsl(218, 5%, 67%);
  --color-neutral-80: hsl(213, 8%, 78%);
  --color-neutral-87: hsl(218, 11%, 86%);
  --color-neutral-90: hsl(218, 15%, 89%);
  --color-neutral-92: hsl(218, 18%, 91%);
  --color-neutral-94: hsl(217, 25%, 94%);
  --color-neutral-95: hsl(218, 31%, 95%);
  --color-neutral-96: hsl(217, 40%, 96%);
  --color-neutral-98: hsl(223, 78%, 98%);
  --color-neutral-99: hsl(240, 100%, 99%);
  --color-neutral-100: hsl(0, 0%, 100%);
  --color-neutral-variant-0: hsl(0, 0%, 0%);
  --color-neutral-variant-10: hsl(215, 21%, 11%);
  --color-neutral-variant-20: hsl(215, 12%, 20%);
  --color-neutral-variant-30: hsl(217, 9%, 28%);
  --color-neutral-variant-40: hsl(217, 7%, 38%);
  --color-neutral-variant-50: hsl(222, 5%, 48%);
  --color-neutral-variant-60: hsl(219, 6%, 58%);
  --color-neutral-variant-70: hsl(223, 9%, 68%);
  --color-neutral-variant-80: hsl(223, 13%, 79%);
  --color-neutral-variant-87: hsl(223, 21%, 87%);
  --color-neutral-variant-90: hsl(223, 27%, 90%);
  --color-neutral-variant-92: hsl(223, 35%, 92%);
  --color-neutral-variant-94: hsl(223, 50%, 95%);
  --color-neutral-variant-95: hsl(223, 64%, 96%);
  --color-neutral-variant-96: hsl(223, 88%, 97%);
  --color-neutral-variant-98: hsl(231, 100%, 99%);
  --color-neutral-variant-99: hsl(260, 100%, 99%);
  --color-neutral-variant-100: hsl(0, 0%, 100%);
  --color-error-0: hsl(0, 0%, 0%);
  --color-error-10: hsl(0, 74%, 12%);
  --color-error-20: hsl(0, 74%, 22%);
  --color-error-30: hsl(0, 74%, 32%);
  --color-error-40: hsl(0, 74%, 42%);
  --color-error-50: hsl(0, 74%, 52%);
  --color-error-60: hsl(0, 74%, 62%);
  --color-error-70: hsl(0, 74%, 72%);
  --color-error-80: hsl(0, 78%, 78%);
  --color-error-90: hsl(0, 78%, 90%);
  --color-error-95: hsl(0, 78%, 95%);
  --color-error-99: hsl(0, 78%, 99%);
  --color-error-100: hsl(0, 0%, 100%);
  --color-key-primary: hsl(217, 64%, 14%);
  --color-key-secondary: hsl(222, 10%, 20%);
  --color-key-tertiary: hsl(40, 91%, 44%);
  --color-key-neutral: hsl(223, 30%, 95%);
  --color-key-neutral-variant: hsl(226, 29%, 91%);

  --color-primary: hsl(217, 64%, 14%);
  --color-on-primary: {color.palette.primary.100};
  --color-primary-container: {color.palette.primary.80};
  --color-on-primary-container: {color.palette.primary.30};
  --color-secondary: {color.palette.secondary.40};
  --color-on-secondary: {color.palette.secondary.100};
  --color-secondary-container: {color.palette.secondary.80};
  --color-on-secondary-container: {color.palette.secondary.30};
  --color-tertiary: {color.palette.tertiary.40};
  --color-on-tertiary: {color.palette.tertiary.100};
  --color-tertiary-container: {color.palette.tertiary.80};
  --color-on-tertiary-container: {color.palette.tertiary.30};
  --color-error: {color.palette.error.40};
  --color-on-error: {color.palette.error.100};
  --color-error-container: {color.palette.error.80};
  --color-on-error-container: {color.palette.error.30};
  --color-background: {color.palette.neutral.98};
  --color-on-background: {color.palette.neutral.10};
  --color-surface: {color.palette.neutral.98};
  --color-on-surface: {color.palette.neutral.10};
  --color-surface-variant: {color.palette.neutralVariant.90};
  --color-on-surface-variant: {color.palette.neutralVariant.30};
  --color-outline: {color.palette.neutralVariant.50};
  --color-outline-variant: {color.palette.neutralVariant.80};
  --color-inverse-surface: {color.palette.neutral.20};
  --color-inverse-on-surface: {color.palette.neutral.95};
  --color-inverse-primary: {color.palette.primary.80};
  --color-surface-dim: {color.palette.neutral.87};
  --color-surface-bright: {color.palette.neutral.98};
  --color-surface-container-lowest: {color.palette.neutral.100};
  --color-surface-container-low: {color.palette.neutral.96};
  --color-surface-container: {color.palette.neutral.94};
  --color-surface-container-high: {color.palette.neutral.92};
  --color-surface-container-highest: {color.palette.neutral.90};
}

[data-theme="dark"],
.dark {
  --color-primary: hsl(217, 64%, 14%);
  --color-on-primary: {color.palette.primary.20};
  --color-primary-container: {color.palette.primary.30};
  --color-on-primary-container: {color.palette.primary.90};
  --color-secondary: {color.palette.secondary.80};
  --color-on-secondary: {color.palette.secondary.20};
  --color-secondary-container: {color.palette.secondary.30};
  --color-on-secondary-container: {color.palette.secondary.90};
  --color-tertiary: {color.palette.tertiary.80};
  --color-on-tertiary: {color.palette.tertiary.20};
  --color-tertiary-container: {color.palette.tertiary.30};
  --color-on-tertiary-container: {color.palette.tertiary.90};
  --color-error: {color.palette.error.80};
  --color-on-error: {color.palette.error.20};
  --color-error-container: {color.palette.error.30};
  --color-on-error-container: {color.palette.error.90};
  --color-background: {color.palette.neutral.6};
  --color-on-background: {color.palette.neutral.90};
  --color-surface: {color.palette.neutral.6};
  --color-on-surface: {color.palette.neutral.90};
  --color-surface-variant: {color.palette.neutralVariant.30};
  --color-on-surface-variant: {color.palette.neutralVariant.80};
  --color-outline: {color.palette.neutralVariant.60};
  --color-outline-variant: {color.palette.neutralVariant.30};
  --color-inverse-surface: {color.palette.neutral.90};
  --color-inverse-on-surface: {color.palette.neutral.20};
  --color-inverse-primary: {color.palette.primary.40};
  --color-surface-dim: {color.palette.neutral.6};
  --color-surface-bright: {color.palette.neutral.24};
  --color-surface-container-lowest: {color.palette.neutral.4};
  --color-surface-container-low: {color.palette.neutral.10};
  --color-surface-container: {color.palette.neutral.12};
  --color-surface-container-high: {color.palette.neutral.17};
  --color-surface-container-highest: {color.palette.neutral.22};
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme='light']) {
    --color-primary: hsl(217, 64%, 14%);
    --color-on-primary: {color.palette.primary.20};
    --color-primary-container: {color.palette.primary.30};
    --color-on-primary-container: {color.palette.primary.90};
    --color-secondary: {color.palette.secondary.80};
    --color-on-secondary: {color.palette.secondary.20};
    --color-secondary-container: {color.palette.secondary.30};
    --color-on-secondary-container: {color.palette.secondary.90};
    --color-tertiary: {color.palette.tertiary.80};
    --color-on-tertiary: {color.palette.tertiary.20};
    --color-tertiary-container: {color.palette.tertiary.30};
    --color-on-tertiary-container: {color.palette.tertiary.90};
    --color-error: {color.palette.error.80};
    --color-on-error: {color.palette.error.20};
    --color-error-container: {color.palette.error.30};
    --color-on-error-container: {color.palette.error.90};
    --color-background: {color.palette.neutral.6};
    --color-on-background: {color.palette.neutral.90};
    --color-surface: {color.palette.neutral.6};
    --color-on-surface: {color.palette.neutral.90};
    --color-surface-variant: {color.palette.neutralVariant.30};
    --color-on-surface-variant: {color.palette.neutralVariant.80};
    --color-outline: {color.palette.neutralVariant.60};
    --color-outline-variant: {color.palette.neutralVariant.30};
    --color-inverse-surface: {color.palette.neutral.90};
    --color-inverse-on-surface: {color.palette.neutral.20};
    --color-inverse-primary: {color.palette.primary.40};
    --color-surface-dim: {color.palette.neutral.6};
    --color-surface-bright: {color.palette.neutral.24};
    --color-surface-container-lowest: {color.palette.neutral.4};
    --color-surface-container-low: {color.palette.neutral.10};
    --color-surface-container: {color.palette.neutral.12};
    --color-surface-container-high: {color.palette.neutral.17};
    --color-surface-container-highest: {color.palette.neutral.22};
  }
}